<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>

<!--<a href="/templates/types">Выбрать из шаблона?</a> <br>-->

<!--<a href="/groups">groups</a> <br>-->
<!--<a href="/app">app</a> <br>-->
<!--<a href="/provider">provider</a> <br>-->
<h1>
    <a href="/user">Создать пользователя</a>
</h1>
<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>